{% extends "base.html" %}

{% block title %}Example: {{ example }}{% endblock %}

{% block extrahead %}
<style>
  .output {
    font-family: monospace;
    padding: 1rem;
    border: 1px dashed gray;
    background-color: snow;
  }
</style>
{% endblock %}

{% block content %}
<h1>Example: {{ example }}</h1>
<p class="description">{{ description | safe }}</p>
<div class="output">{{ output | safe }}</div>
{% endblock %}

{% block extrascript %}
<script>
const url = 'ws://' + document.location.host + '/reload'
const socket = new WebSocket(url)
socket.addEventListener('close', () => console.log('Websocket was closed'))
socket.addEventListener('message', () => window.location.reload(true))
</script>

{% endblock %}